<h2> Ember Gym App </h2>

Age: {{input}}
<br>
Weight: {{input value=weight}}
<br>
Height(in): {{input}}
<br>

<h3> Lifts </h3>

Bench Press: {{input value=benchMax}}
Squat: {{input value=squatMax}}
Deadlift: {{input value=deadMax}}

<br>

<button {{action "calculateLifts"}}> Calculate </button>

<br>

{{#if isCalculated}}
 <h3> Results </h3>
 <ul>
   <li> Estimated total: {{liftTotal}} </li>
   <li> You are {{benchClass}} in Bench Press </li>
   <li> {{squatClass}} in Squats </li>
   <li> and {{deadClass}} in Deadlifts </li>
   <li> Your Wilks score is: {{wilks}} </li>
 </ul>

{{/if}}
<canvas id="canvas" width=500 height=500>
  Your browser does not support HTML canvas! Can't display body graph!
</canvas>
