<head>
  <link rel="icon" href="ember-gymicon.png" type="image/png">
</head>

<h2> Ember Gym App </h2>

Age: {{input value=age}}
<br>
Weight: {{input value=weight}}
<br>
Height(in): {{input value=height}}
<br>
Sex: <select >
      <option value="male">Male</option>
      <option value="female">Female</option>
     </select>


<h3> Lifts </h3>

Bench Press: {{input value=benchMax enter="calculateLifts"}}
Squat: {{input value=squatMax enter="calculateLifts"}}
Deadlift: {{input value=deadMax enter="calculateLifts"}}

<br>
<br>

<button {{action "calculateLifts"}}> Calculate </button>
<br>

<br>

{{#if isCalculated}}
<button {{action "sendRequest"}}> Send Result </button>
 <h3> Results </h3>
 <ul>
   <li> Estimated total: {{liftTotal}} </li>
   <li> {{benchClass}} in Bench Press </li>
   <li> {{squatClass}} in Squats </li>
   <li> {{deadClass}} in Deadlifts </li>
   <li> Your Wilks score is: {{wilks}} </li>
   <li> Sex is: {{sex}} </li>
 </ul>

{{/if}}
<canvas id="canvas" width=500 height=500>
  Your browser does not support HTML canvas! Can't display body graph!
</canvas>
