<body>
  {{nav-bar}}
  <div class="container">
    <form>
      <h1> Local Gym Leaderboards </h1>
      Gym Address: {{input value=gymAddress}}
      <button {{action "findGym"}}>Find Gym </button>
        <div id="addressError" class="error"> Please enter a valid address </div>
      <br>
    </form>

  {{#if gymNotFound}}
    <div class="container">
      <strong>Gym not found in our records! Add a new one below!</strong>
      <form>
        <h3> Add New Gym </h3>
        Name: {{input value=newGymName}}
        <br>
        Address: {{input value=newGymAddress}}
        <button {{action "addGym"}}>Add Gym </button>
      </form>
    </div>
  {{/if}}

  {{#if gymFound}}
    <strong> Gym found in our records! </strong>
    Name: {{foundGymName}}
    Address: {{foundGymAddress}}
    Records:
    {{gym-sort gyms = model}}
  {{/if}}

  {{#if sucessfullyAdded}}
    <strong> Gym sucessfully added to our records! </strong>
  {{/if}}

  </div>
</body>
