<body>
  {{nav-bar}}
  <div class="container">
    <form>
      <h1> Local Gym Leaderboards </h1>
      Gym Address: {{input value=gymAddress}}
      <button {{action "findGym"}}>Find Gym </button>
        <div id="addressError" class="error"> Please enter a valid address </div>
      <br>
    </form>

  {{#if gymNotFound}}
    <div class="container">
      <strong>Gym not found in our records! Add a new one below!</strong>
      <form>
        <h3> Add New Gym </h3>
        Name: {{input value=newGymName}}
        <br>
        Address: {{input value=newGymAddress}}
        <button {{action "addGym"}}>Add Gym </button>
      </form>
    </div>
  {{/if}}

  {{#if gymFound}}
    <img src="{{mapURL}}">
    <br/>
    <strong> Gym found in our records! </strong>
    <br>
    <button {{action "addGymRecord"}}>Add Record </button>
    <br>
    {{#if newGymRecord}}
      Units:
      {{radio-button value=true checked=units}} Imperial(lbs/in)
      {{radio-button value=false checked=units}} Metric(kg/cm)
        <div id="unitsError" class="error"> Please select a unit! </div>
      <br>
      Name: {{input value=username class="form-control"}}
        <div id="nameError" class="error"> Please enter a valid name! </div>

      Age: {{input value=age class="form-control"}}
        <div id="ageError" class="error"> Please enter a valid age! </div>

      Weight: {{input value=weight class="form-control"}}
        <div id="weightError" class="error"> Please enter a valid weight! </div>

      Height: {{input value=height class="form-control"}}
        <div id="heightError" class="error"> Please enter a valid height! </div>

      Sex:
      {{radio-button value=true checked=sex}} Male
      {{radio-button value=false checked=sex}} Female
        <div id="sexError" class="error"> Please select a sex! </div>

      <h2> Lifts </h2>

      Bench Press: {{input value=benchMax enter="calculateLifts" class="form-control"}}
        <div id="benchError" class="error"> Please enter a valid bench press! </div>
      Squat: {{input value=squatMax enter="calculateLifts" class="form-control"}}
        <div id="squatError" class="error"> Please enter a valid squat! </div>
      Deadlift: {{input value=deadMax enter="calculateLifts" class="form-control"}}
        <div id="deadliftError" class="error"> Please enter a valid deadlift! </div>

      <button {{action "validateInput"}} > Send </button> <br/>
    {{/if}}
    Name: <strong> {{foundGymName}} </strong><br/>
    Address: <strong> {{foundGymAddress}} </strong><br/>
    Records:
    {{#each gymRecords as |lift|}}
      {{#if lift}}
    <div class="container liftRecord">
      Name: {{lift.name}} <br/>
      Age: {{lift.age}} <br/>
      Sex: {{lift.sex}} <br/>
      Weight: {{lift.weight}} <br/>
      Bench Press: {{lift.bench}} <br/>
      Squat: {{lift.squat}} <br/>
      Deadlift: {{lift.deadlift}} <br/>
      <strong> Total: {{lift.total}}</strong>
    </div>
      {{/if}}
      {{else}}
        <strong> No records yet! </strong>
    {{/each}}
  {{/if}}

  {{#if sucessfullyAdded}}
    <strong> Gym sucessfully added to our records! </strong>
  {{/if}}

  </div>
</body>
