<head>
  <link rel="icon" href="ember-gymicon.png" type="image/png">
  <title> FitTrack </title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>
<body>
  {{nav-bar}}
  <div class="container">
    <form>
      <h1> FitTrack </h1>
      Age: {{input value=age class="form-control"}}
        <div id="ageError" class="error"> Please enter a valid age! </div>

      Weight: {{input value=weight class="form-control"}}
        <div id="weightError" class="error"> Please enter a valid weight! </div>

      Height(in): {{input value=height class="form-control"}}
        <div id="heightError" class="error"> Please enter a valid height! </div>

      Sex:
      {{radio-button value=true checked=sex}} Male
      {{radio-button value=false checked=sex}} Female
        <div id="sexError" class="error"> Please enter a valid sex! </div>

      <h2> Lifts </h2>

      Bench Press: {{input value=benchMax enter="calculateLifts" class="form-control"}}
        <div id="benchError" class="error"> Please enter a valid bench press! </div>
      Squat: {{input value=squatMax enter="calculateLifts" class="form-control"}}
        <div id="squatError" class="error"> Please enter a valid squat! </div>
      Deadlift: {{input value=deadMax enter="calculateLifts" class="form-control"}}
        <div id="deadliftError" class="error"> Please enter a valid deadlift! </div>

      <button {{action "validateInput"}} > Calculate </button>
    </form>



    {{#if isCalculated}}
     <h3> Results </h3>
     <ul>
       <li> Estimated total: {{liftTotal}} </li>
       <li> {{benchClass}} in Bench Press </li>
       <li> {{squatClass}} in Squats </li>
       <li> {{deadClass}} in Deadlifts </li>
       <li> Your Wilks score is: {{wilks}} </li>
       <li> Sex is: {{sexResult}} </li>
       <li> Your BMI is {{bmi}} making you {{bmiRank}} </li>
       <li> Your BMR is roughly {{bmr}} </li>
     </ul>
    {{color-scale}}
    {{/if}}
    <canvas id="canvas" width=500 height=500>
      Your browser does not support HTML canvas! Can't display body graph!
    </canvas>
  </div>
</body>
{{outlet}}
