<head>
  <link rel="icon" href="ember-gymicon.png" type="image/png">

</head>

<h2> FitTrack </h2>
<a href="/lift"> Lift Records </a> <br/>
Age: {{input value=age}}
  <div id="ageError" class="error"> Please enter a valid age! </div>
<br>
Weight: {{input value=weight}}
  <div id="weightError" class="error"> Please enter a valid weight! </div>
<br>
Height(in): {{input value=height}}
  <div id="heightError" class="error"> Please enter a valid height! </div>
<br>
Sex:
{{radio-button value=true checked=sex}} Male
{{radio-button value=false checked=sex}} Female
  <div id="sexError" class="error"> Please enter a valid sex! </div>

<h3> Lifts </h3>

Bench Press: {{input value=benchMax enter="calculateLifts"}}
  <div id="benchError" class="error"> Please enter a valid bench press! </div>
Squat: {{input value=squatMax enter="calculateLifts"}}
  <div id="squatError" class="error"> Please enter a valid squat! </div>
Deadlift: {{input value=deadMax enter="calculateLifts"}}
  <div id="deadliftError" class="error"> Please enter a valid deadlift! </div>

<br>
<br>

<button {{action "validateInput"}} > Calculate </button>
<br>

<br>

{{#if isCalculated}}
 <h3> Results </h3>
 <ul>
   <li> Estimated total: {{liftTotal}} </li>
   <li> {{benchClass}} in Bench Press </li>
   <li> {{squatClass}} in Squats </li>
   <li> {{deadClass}} in Deadlifts </li>
   <li> Your Wilks score is: {{wilks}} </li>
   <li> Sex is: {{sexResult}} </li>
   <li> Your BMI is {{bmi}} making you {{bmiRank}} </li>
   <li> Your BMR is roughly {{bmr}} </li>
 </ul>
{{color-scale}}
{{/if}}
<canvas id="canvas" width=500 height=500>
  Your browser does not support HTML canvas! Can't display body graph!
</canvas>

{{outlet}}
