
<body>
  {{nav-bar}}
  <h1>Leaderboards</h1>

  {{#each model as |lift|}}
    <div class="container liftRecord">
      Age: {{lift.age}} <br/>
      Sex: {{lift.sex}} <br/>
      Weight: {{lift.weight}} <br/>
      Bench Press: {{lift.bench}} <br/>
      Squat: {{lift.squat}} <br/>
      Deadlift: {{lift.deadlift}} <br/>
      <strong> Total: {{lift.total}}</strong>
    </div>
  {{/each}}
</body>
